@font-face {
    font-family: "Kalam";
    src: url("../fonts/Kalam/Kalam-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Josefin";
    src: url('../fonts/Josefin_Slab/JosefinSlab-Regular.ttf') format("truetype");
}
@font-face {
    font-family : "Open";
    src: url('../fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf') format('truetype');
}


#logo{
	font-family: 'Kalam', cursive;
}

h1{
	font-family: 'Josefin', serif;
	font-size: 20px;
}

p{
	font-family: 'Open', sans-serif;
	font-size: 20px;
}

header {
  width: 80%;
  margin: auto;
}

.navbar-brand{
  font-family: 'kalam', cursive;
  font-size: 40px;
  color: #38382E;

}

.navbar {
  background-color: black;
  border: none;
  opacity: 0.4;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: bold;
  width: 80%;
  margin: auto;
}
/** -----------modif -------------------------**/
.navbar-default .navbar-nav > li > a
{
  color:#FFF;
}
#pg-home > header > .container-fluid {
  background-image: url(../images/flower.jpg);
  background-repeat: no-repeat;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}
/**-------------------------------------------**/
body#pg-magnetisme .container-fluid {
  background-image: url(../img/harmony.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 380px;
  margin: auto;
  padding: 0;
  min-height: 100%;
}

body#pg-magnetisme.navbar{
  background-color: rgba(46, 35, 39, 0.7);
}

body#pg-dietetique .container-fluid {
  background-image: url(../img/vegetables.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin: 0;
  padding: 0;
  min-height: 100%
}

body#pg-dietetique.navbar{
  background-color: rgba(0, 0, 0, 0.7);
}

body#pg-atelier .container-fluid {
  background-image: url(../img/tulipe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  margin: 0;
  padding: 0;
  min-height: 100%;
}
body#pg-atelier.navbar{
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body#pg-apropos .container-fluid {
  background-image: url(../img/butterfly.jpg);
  background-size: cover ;
  background-repeat: no-repeat;
  height: 600px;
 
  min-height: 100%;
}
body#pg-apropos.navbar{
  background-color: rgba(0, 0, 0, 0.7);

}
body#pg-contact .container-fluid {
  background-image: url(../img/tulipe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  margin: 0;
  padding: 0;
min-height: 100%;
}
body#pg-contact.navbar{
  background-color: rgba(0, 0, 0, 0.7);
}

body#pg-dietetique .navbar{
  background-color: rgba(0, 0, 0, 0.7);
}
#about {
 
  font-weight: bold;
  height: 300px;
  font-size: 14px;
  letter-spacing: 03px;
  position: absolute;
  top: 83%;
  left: 52%;
  border: 0;
  }

.inner-banner {
  position: absolute;
  top: 42%;
  left: 50%;
  border: 0;
  font-size: 3.8em;
  color: black;
  font-weight: italic;


}
.titre-pitch {
  letter-spacing: 6px;
  font-style: italic;
  font-size: 52px;
  line-height: 100%;
  color: #612A05;


}
img.img1 {
   width: 340px;
    position: relative;
    right: 640px;
    padding-top: 40px;
   
}

.bio {
   position: relative;
   bottom: 15px;
   right: 300px;
   text-align: justify;
   height: 600px;
   width: 900px;
   
}
.bio p {
    font-size: 16px;
    padding-top: 5px;
    text-align: center;
}
h1.titre1 {
    font-size: 60px;
    padding-top: 25px;
    padding-left: 45px;

 }
 h1.titre2 {
    font-size: 25px;
 position: relative;
 right: 600px;
 top: 20px;

 }
.pitch-final {
  position: relative;
  bottom: 0px;
  text-align: center;
  height: 180px;
  background-color: #A97052;
  width: 80%;
  margin: auto;
}

h4 {
  display: block;
  font-size: 1.4em;
  font-weight: bold;
  padding-top: 55px;

}

footer {
  background-color: #EF9B2B;
  font-size: 1.2em;
  position: relative;
  bottom: 0;
  font-weight: bold;
  width: 80%;
  margin: auto;
  padding-top: 50px;
  height: 300px; 
}
footer a {
    color: #663C26;
    padding-bottom: 80px;
}
.footer-bottom {
    color: #663C26;
    padding-left: 120px;
    padding-bottom: 70px;
}

.customtitle1 {
    color: #663C26;
    font-weight: bold;
}

#scroll {
  width: 600px;
  height: 510px;
  overflow: auto;
  position: relative;
  top: 08px;
  left: 50px;
  scrollbar-face-color:#999999;
  scrollbar-arrow-color: #FFFFFF;
  scrollbar-track-color: #FFFFFF;
  scrollbar-highlight-color: #999999;
  scrollbar-darkshadow-color: #FFFFFF;
  scrollbar-shadow-color: #999999;
  scrollbar-3dlight-color: #999999;
}
div.btn-group {
    position: relative;
    right: 540px;
    width: 120px;
    bottom: 60px;
    background-color: blue;
    border-radius: 10px;
}

blockquote {
    
    position: relative;
    top: 520px;
    left: 80px;
    font-size: 22px;
    height: 180px;
    background-color: #A97052;
    width: 80%;
    text-align: center;
    color: #333;
    padding-top: 40px;
    margin-left: 50px;
}
.formation {
   
    position: relative;
   top: 700px;
    height: 200px;
}