@font-face {
  font-family: "logo";
  src: url("../fonts/Kalam/Kalam-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "titre";
  src: url('../fonts/Josefin_Slab/JosefinSlab-Regular.ttf') format("truetype");
}
@font-face {
  font-family : "texte";
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

h1, h2, h3, h4{
	font-family: 'titre', serif;
}

p, a{
	font-family: 'texte', sans-serif;
}

/* palette des couleurs

jaune = #FFF931
vert = #a9c04b
marron = #6e5342
marron-clair = #af7653
gris-clair = #e7dcc6

*/

.navbar {
  background-color: black;
  border: none;
  opacity: .4;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: bold;
}
.navbar-brand {
  font-family: 'logo', cursive;
  font-size: 3em;
  color: white !important;
  opacity: 1 !important;
}
.navbar-default .navbar-nav > li > a {
  color: white !important;
  opacity: 1 !important;
}

#homePhraseAccroche{
  margin-top:20px;
  font-size: 1em;
  overflow: auto;
  height: 300px;
}
#homePhraseAccroche h1{
  font-family: 'logo', cursive;
  font-weight: bold;
}
#homePhraseAccroche p{
  font-size: 1.5em;
}
.accrocheContact {
  text-align: center;
  background-color: #A97052;
  color: black;
}
.accrocheContact a {
 color: white;
 font-size: 1em;
 font-weight: bold;
}

#pg-home, #pg-magnetisme, #pg-dietetique, #pg-atelier, #pg-apropos, #pg-contact {
  background-image: url(../img/flower.jpg);
  background-repeat: no-repeat;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#pg-magnetisme {
  background-image: url(../img/water.jpg);
  height: 300px;
}

#pg-dietetique {
  background-image: url(../img/vegetables.jpg);
  height: 300px;
}

#pg-atelier {
  background-image: url(../img/hyacinthe.jpg);
  height: 300px;
}

#pg-apropos {
  background-image: url(../img/butterfly.jpg);
  height: 300px;
}

#pg-contact {
  background-image: url(../img/tulipe.jpg);
  height: 300px;
}
footer > ul > li
{
  list-style: none;
  margin-right: 1%;
  display: inline;
}
footer > ul > li > a, footer > ul > li > a:hover, footer > ul > li
{

  color:#e7dcc6;
}
footer > ul
{
  text-align: center !important;
}

.footer
{
  border-top: 2px solid black;
  padding: 20px;
  background-color: #6e5342;
}

/* Page Atelier */

.hfixed {
	height: 300px;
}

#icontent {
	background-color:orange;
}

.atelierBandeTransition{
	height: 80px;
	text-align: center;
	background-color: orange;
	padding-top: 30px;
}

.caption {
	padding:50px
}

/* Home Bloc News*/

#homeBlocNews {
	width:90%;
	margin: auto;
	background-color:white;
	padding: auto;
	overflow: auto;
}

/* dietetique - recette et conseil*/
#dietFond{
  background-image:  url(../img/vegetables.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
#dietTabs{
  background-color: white;
  width: 90%;
  margin: auto;
}
#dietTabs ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100px;
}
#dietTabs li{
  float: left;
  width: 50%;
  color: white;
}
#dietTabs li a{
  display: block;
  color: white;
  font-weight: bold;
  font-family: 'titre', serif;
  font-size: 2em;
  text-align: center;
  padding: auto;
}
#dietTabs li a:hover{
  text-decoration: underline;
}
#ongletRecette, #ongletConseil{
  max-width: 100%;
  height: auto;
  display: block;
  background-color: #A97052;
}
#dietTexteRecette, #dietTexteConseil{
  padding: 1em;
}
#dietTexteRecette h2, #dietTexteConseil h2{
  font-style: bold;
}
#dietTexteRecette img{
  float: right;
  width: 40%;
}
#dietTexteRecette ul, #dietTexteConseil ul{
  width: 90%;
  margin: auto;
  display: inline;
}
#dietTexteRecette li, #dietTexteConseil li{
  margin-bottom: .5em;
  color: black;
  float: none;
}